<div class="masthead">
	<ul class="nav nav-pills pull-right">
	  <li class="active"><%= link_to "Inicio", :controller => "welcome", :action => "index" %></li>
	  <li><%= link_to "Registrate", new_user_path %></li>
	  
	  <li><a href="#">Contacto</a></li>
	</ul>
	<h3 class="muted">autollamada.com</h3>
</div>

<hr>